body {
    margin: 2rem;
    background-color: bisque;


    header {
        width: 50%;
        margin: 3rem;  
        h1 {
        color: brown;
        }

        P {
        font-size: 1rem;
        }
    }
}